# OS
.DS_Store

# Editors
.idea/
.vscode/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Node
node_modules/
dist/
.vite/
coverage/

# Go
bin/
coverage.out

# Runtime
.env
.env.*
!.env.example
.env.local
.env.*.local
tmp/
.local/

# Project data
/data/
/var/
